<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CalendarUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CalendarUtility.Properties.Settings>
            <setting name="day1" serializeAs="String">
                <value />
            </setting>
            <setting name="day2" serializeAs="String">
                <value />
            </setting>
            <setting name="day3" serializeAs="String">
                <value />
            </setting>
            <setting name="day4" serializeAs="String">
                <value />
            </setting>
            <setting name="day5" serializeAs="String">
                <value />
            </setting>
            <setting name="day6" serializeAs="String">
                <value />
            </setting>
            <setting name="day7" serializeAs="String">
                <value />
            </setting>
            <setting name="day8" serializeAs="String">
                <value />
            </setting>
            <setting name="day9" serializeAs="String">
                <value />
            </setting>
            <setting name="day10" serializeAs="String">
                <value />
            </setting>
            <setting name="day11" serializeAs="String">
                <value />
            </setting>
            <setting name="day12" serializeAs="String">
                <value />
            </setting>
            <setting name="day13" serializeAs="String">
                <value />
            </setting>
            <setting name="day14" serializeAs="String">
                <value />
            </setting>
            <setting name="day15" serializeAs="String">
                <value />
            </setting>
            <setting name="day16" serializeAs="String">
                <value />
            </setting>
            <setting name="day17" serializeAs="String">
                <value />
            </setting>
            <setting name="day18" serializeAs="String">
                <value />
            </setting>
            <setting name="day19" serializeAs="String">
                <value />
            </setting>
            <setting name="day20" serializeAs="String">
                <value />
            </setting>
            <setting name="day21" serializeAs="String">
                <value />
            </setting>
            <setting name="day22" serializeAs="String">
                <value />
            </setting>
            <setting name="day23" serializeAs="String">
                <value />
            </setting>
            <setting name="day24" serializeAs="String">
                <value />
            </setting>
            <setting name="day25" serializeAs="String">
                <value />
            </setting>
            <setting name="day26" serializeAs="String">
                <value />
            </setting>
            <setting name="day27" serializeAs="String">
                <value />
            </setting>
            <setting name="day28" serializeAs="String">
                <value />
            </setting>
            <setting name="day29" serializeAs="String">
                <value />
            </setting>
            <setting name="day30" serializeAs="String">
                <value />
            </setting>
            <setting name="day31" serializeAs="String">
                <value />
            </setting>
            <setting name="buttonChoice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="day32" serializeAs="String">
                <value />
            </setting>
            <setting name="day33" serializeAs="String">
                <value />
            </setting>
            <setting name="day34" serializeAs="String">
                <value />
            </setting>
            <setting name="day35" serializeAs="String">
                <value />
            </setting>
            <setting name="day36" serializeAs="String">
                <value />
            </setting>
            <setting name="day37" serializeAs="String">
                <value />
            </setting>
            <setting name="day38" serializeAs="String">
                <value />
            </setting>
            <setting name="day39" serializeAs="String">
                <value />
            </setting>
            <setting name="day40" serializeAs="String">
                <value />
            </setting>
            <setting name="day41" serializeAs="String">
                <value />
            </setting>
            <setting name="day42" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage1" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage2" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage3" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage4" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage5" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage6" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage7" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage8" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage9" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage10" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage11" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage12" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage13" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage14" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage15" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage16" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage17" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage18" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage19" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage20" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage21" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage22" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage23" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage24" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage25" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage26" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage27" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage28" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage29" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutImage30" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction1" serializeAs="String">
                <value>www.youtube.com</value>
            </setting>
            <setting name="shortcutAction2" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction3" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction4" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction5" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction6" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction7" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction8" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction9" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction10" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction11" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction12" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction13" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction14" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction15" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction16" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction17" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction18" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction19" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction20" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction21" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction22" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction23" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction24" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction25" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction26" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction27" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction28" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction29" serializeAs="String">
                <value />
            </setting>
            <setting name="shortcutAction30" serializeAs="String">
                <value />
            </setting>
            <setting name="currentImage" serializeAs="String">
                <value />
            </setting>
            <setting name="buttonNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="notes1" serializeAs="String">
                <value />
            </setting>
            <setting name="notes2" serializeAs="String">
                <value />
            </setting>
            <setting name="notes3" serializeAs="String">
                <value />
            </setting>
            <setting name="notes1TextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="notes2TextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="notes3TextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="OpacityValueSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowBackground" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MainWindowBorder" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ButtonBackground" serializeAs="String">
                <value>black</value>
            </setting>
            <setting name="MainWindowButtonColor" serializeAs="String">
                <value />
            </setting>
            <setting name="CalendarContentColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="IDVal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ButtonHighlightColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="MainWindowForeground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="WindowBorder" serializeAs="String">
                <value>Red</value>
            </setting>
        </CalendarUtility.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.13.0" newVersion="8.0.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>